<div class="vertical-align-helper">
</div>

<div class="content">
	<h1>Momentum</h1>
	<h2>The Praise You Get</h2>

	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	  	<%= f.email_field :email, { class: "form-control", placeholder: "Email" } %>

	  	<%= f.password_field :password, { class: "form-control", 
	  																		placeholder: "Password" }%>

	  <% if devise_mapping.rememberable? -%>
	    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
	  <% end -%>

	  <div><%= f.submit "Sign in" %></div>
	<% end %>

	<%= render "users/shared/links" %>
</div>