<% if @feedbacks.empty? %>
	<!-- Handle no feedbacks -->
	<div class="row">
		<div class="col-xs-4">
		</div>

		<div class="col-xs-4">
			<p>Nobody has given any praise yet.</p>
			<% if user_signed_in? %>
				<!-- Show page for when a user is signed in -->
				<p>Be the first! See your profile <a href=<%= root_path %>>here.</a></p>
			<% else %>
				<!-- Show page for when a user isn't signed in -->
				<p>Be the first! Sign in here <a href=<%= root_path %>>here.</a></p>
				<p>Don't have an account? Sign up <a href=<%= new_user_registration_path %>>here.</a></p>
			<% end %>
		</div>

		<div class="col-xs-4">
		</div>
	</div>
<% else %>
	<!-- Loop through feedbacks displaying each one -->
	<% @feedbacks.each do |feedback| %>
		<div class="row">
	    <div class="col-xs-3">
	      
	    </div>
	    <div class="col-xs-2">
	      <div class="row">
	      	<%= image_tag avatar_url(feedback.author, 64), class:"gravatar img-circle" %>
		      <span class="glyphicon glyphicon-circle-arrow-right"></span>
		      <%= image_tag avatar_url(feedback.user, 64), class:"gravatar img-circle" %>
	      </div>
	    </div>
	    <div class="col-xs-7">
	      <div class="">
	        <blockquote>
	          <p><%= feedback.message %></p>
	          <small><%= feedback.author.full_name %> to <%= feedback.user.full_name %></small> 
	          <small><strong><%= feedback.created_at.strftime("%A %B %e, %l:%M %p") %></strong></small>
	          <% if !feedback.supporters.nil? %>
						  <small style="color:#009933;"><%= feedback.supporters %> agrees with this feedback</small>
						<% end %>
						<%= link_to 'Agree?', { controller: 'feedback', action: 'add_support', feedback_id: feedback.id }, style: 'font-size:12px;' %>
	        </blockquote>
	      </div>
	    </div>
	  </div>
	<% end %>
<% end %>