<% if @feedbacks.empty? %>
	<!-- Handle no feedbacks -->
	<div class="row">
		<div class="col-xs-4">
		</div>

		<div class="col-xs-4">
			<p>Nobody has given any praise yet.</p>
			<p>Be the first! Sign up or go to your profile <a href=<%= root_url %>>here.</a></p>
		</div>

		<div class="col-xs-4">
		</div>
	</div>
<% else %>
	<!-- Loop through feedbacks displaying each one -->
	<% @feedbacks.each do |feedback| %>
		<div class="row">
	    <div class="col-xs-3">
	      
	    </div>
	    <div class="col-xs-2">
	      <div class="row">
	      	<%= image_tag avatar_url(feedback.author, 64), class:"gravatar img-circle" %>
		      <span class="glyphicon glyphicon-star"></span>
		      <%= image_tag avatar_url(feedback.user, 64), class:"gravatar img-circle" %>
	      </div>
	    </div>
	    <div class="col-xs-7">
	      <div class="">
	        <blockquote>
	          <p><%= feedback.message %></p>
	          <small><%= feedback.author.full_name %> to <%= feedback.user.full_name %></small> 
	          <small><strong><%= feedback.created_at.strftime("%A %B %e, %l:%M %p") %></strong></small>
	        </blockquote>
	      </div>
	    </div>
	  </div>
	<% end %>
<% end %>