<div class="vertical-align-helper">
</div>

<div class="content">
	<h1>Momentum</h1>
	<h2>The Praise You Get</h2>

	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="email-input">
	  	<%= f.email_field :email, { value: "Email" } %>
		</div>

		<div class="dummy-password-input">
	  	<%= f.text_field :password, { value: "Password" } %>
		</div>

		<div class="password-input hidden">
	  	<%= f.password_field :password %>
		</div>

	  <div class="dummy-password-input">
	  	<%= f.text_field :password_confirmation, 
	  									{ value: "Password Confirmation" } %>
		</div>

	  <div class="password-input hidden">
	  	<%= f.password_field :password_confirmation %>
		</div>

	  <div><%= f.submit "Sign up" %></div>
	<% end %>

	<%= render "users/shared/links" %>
</div>
