<div class="vertical-align-helper">
</div>

<div class="content">
	<h1>Momentum</h1>
	<h2>The Praise You Get</h2>

	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>

  	<%= f.email_field :email, { value: "Email", 
  															class: "form-input email-input" } %>

  	<%= f.text_field :password, { value: "Password", 
  																class: "form-input dummy-password-input" } %>

  	<%= f.password_field :password, class: "form-input password-input" %>

  	<%= f.text_field :password_confirmation, 
  									{ value: "Password Confirmation",
  										class: "form-input dummy-password-input" } %>

  	<%= f.password_field :password_confirmation, 
  												class: "form-input password-input" %>

	  <div><%= f.submit "Sign up" %></div>
	<% end %>

	<%= render "users/shared/links" %>
</div>
